# dev | prod
SPRING_PROFILES_ACTIVE=

# Postgres DB
DB_URL=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=

# Keycloak
KC_ADMIN_USER=
KC_ADMIN_PASSWORD=
KEYCLOAK_BASE_URL=http://localhost:8180
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/bac-healthcare

# fix timezone issue (for postgres 18 not support Asia/Saigon)
JAVA_TOOL_OPTIONS=-Duser.timezone=UTC